<h2 class="action-heading center"><%= "#{@user.username.gsub(/\w{2,}\b/) { |word| word.capitalize }}'s page" %></h2>
<div class="row">
	<div class="col center">
		<%= gravatar_for @user, size: 150 %>
	</div>
</div>
<h4 class="action-heading"><%= "#{@user.username.gsub(/\w{2,}\b/) { |word| word.capitalize }}'s Articles List" %></h4>
<%= render 'articles/article', object: @user.articles %>