<div class="jumbotron hero">
	<h1 class="display-4">Alpha Blog</h1>
	<p class="lead">Welcome to the article blogging site built with Ruby on Rails and Bootstrap</p>
	<hr class="my-4">
	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg", role: "button" %>
</div>
