<footer class="footer mt-auto py-3" id="footer-adjust">
	<div class="container" id="footer-content">
		<small>Copyright &copy; <a href="https://www.craigeastwood.com">Craig Eastwood</a> based on <a href="https://www.udemy.com">Udemy Course: The Complete Ruby on Rails Developer</a></small>
		<ul>
			<li>
				<%= link_to "About", about_path %>
			</li>
		</ul>
	</div>
</footer>